.header {
    background-color: #1e213a;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 475px;
    width: 100%;
    padding: 0 25px;
    margin: 0 auto;
    height: 70px;

    @media (max-width: 576px) {
        padding: 0 25px;
        height: 60px;
    }
}

.title {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    transform: translateY(-3px);

    svg {
        fill: #fff;
    }

    @media (max-width: 576px) {
        font-size: 16px;
        line-height: 16px;
    }
}